@use './variables.scss' as *;
@import '~bootstrap/scss/bootstrap';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
header {
    // Top Superiore della Nav Bar o dell'Header
    section.header-aside {
        background-color: $main-color ;

        // Posiziono i 2 Text a Dx
        ul {
            text-align:end;

            li {
                list-style: none;
                display: inline-block;
                padding-left: 1rem;

                //Dimensione e colore text
                a {
                    text-decoration: none;
                    color: white;
                    font-size: .60rem;
                    display: block;
                }
            }
        }
    }

    // stabilisco la grandezza del Logo DC nella Nav Bar
    nav img.logo-img {
        width: 50%;
    }
}
/* NAVBAR */

//Forms Input Search
.placeorder-form input[type="search"] {
    border: none;
    border-bottom: 2px solid $main-color;
    border-right: 2px solid $main-color;

  }

.placeorder-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .placeorder-search-btn {
    background-color: transparent;
    border: none;
    margin-left: -35px;
    cursor: pointer;

  }

  .placeorder-search-btn i {
    font-size: 1.2rem;
  }


/* MAIN */
main {
    padding-bottom: 2rem;
    background-color: $main-bg-color;

    //Immagine di Background Top Main
    div.jumbotron {
        background-image: url(../img/jumbotron.jpg);
        background-position: start;
        background-size: cover;
        background-repeat: no-repeat;
        height: 400px;
    }
    // Current Series
    section.current-series {
        position: relative;
        padding-top: 3rem;

        h4.series-title {
            color: $light-color;
            background-color: $main-color;
            width: 20%;
            font-size: 1.5rem;
            padding: 1rem;
            position: absolute;
            top: -30px;
            text-align: center;
            left: 6.605em;
        }
    }

#prezzo {
    margin-top: -17px;
    font-size: 10px;
}

        //LOAD MORE BUTTON
        .but-load {
            color: white;
            background-color: $main-color;
            display: block;
            width: 20%;
            text-decoration: none;
            margin: 2em auto 0em;
            padding: 1rem;
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;

        }


}

footer {
    background-color: $footer-bg-color;
    background-image: url(../img/footer-bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    section.banner {
        background-color: $main-color;

        ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            height: 100%;
            color: $light-color;

            li {
                display: flex;
                /* padding: 2rem; */
                font-size: .9rem;
                align-items: center;

                img {
                    width: 44px;
                    height: 0;
                    padding-top: 75%;
                    object-fit: contain;
                    mix-blend-mode: normal;
                    margin-right: .6rem;

                }
            }
        }
    }

    section.dc-logo {
        background-image: url(../img/dc-logo-bg.png);
        background-position: right center;
        background-size: initial;
        background-repeat: no-repeat;
        width: 90%;
        margin-left: 25px;
        padding-bottom: 31px;
    }
}


nav {
    display: flex;

    ul li {
        font-size: .8rem;
        list-style: none;
        margin-right: .7rem;
        padding: .1rem;
        color: grey;


        h5 {
            font-size: 1rem;
            margin: 1.5rem 0 .5rem 0;
            color: $light-color;
        }
    }
}

section.footer-bottom {
    background-color: $footer-bg-color;
    padding: 2rem 0;

    div.container {
        div.col-3>a {
            text-decoration: none;
            color: $light-color;
            font-weight: bold;
            font-size: .8rem;
            display: inline-block;
            padding: .6rem;
            border: 2px solid $main-color
        }

        div.socials {
            display: flex;
            align-items: center;
            justify-content: end;

            h4 {
                color: $main-color;
                padding-right: 1rem;
                font-size: 1rem;
                padding: 0;
                margin: 0;
            }

            img {
                width: 25px;
                margin: 0 .4rem;
            }
        }
    }
}

/* DETTAIL_FUMETTO */

.bg-blue {
    background-color: $main-color;
    width: 100%;
    height: 50px;
}

.body_sing {
    background-color: white;
}

